pandas
numpy
matplotlib
seaborn
scikit-learn
scipy
mlxtend
umap-learn
jupyter
notebook
ipykernel
plotly
# geo packages (used in functions/eda.py)
contextily
geopandas
pyproj
shapely
flask
flask-cors
mlxtend